{% extends 'index.html' %}

{% block content %}

<div class="demo-container mdl-grid">

        <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
          <form action="" method="POST" enctype="multipart/form-data">
    <h4>Add Files to Database to be Extended from</h4>
    <h6>The filename is what you will call in other templates for include/extend/import/etc.</h6>
    <input type="file" name="file" size="40"><br>
    <input type="submit" value="Upload"/>
</form>

        </div>

      </div>
{% endblock %}
<br><br>
