{% extends 'index.html' %}

{% block content %}
<!-- <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,500,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.0.1/material.teal-red.min.css" />
<script src="//storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js"></script> -->
<form action="" method="post">
<div class="mdl-grid">
  <div class="render-f mdl-cell mdl-cell--3-col" style="text-align:center;margin:3;" >
  <h5 style="color:white">String to render with Ninja</h5>
     <textarea class="mdl-textfield__input" type="text" rows="25" id="text7" style="background-color: #ffffff;opacity: 90;" name="string_to_render">{% if entries %}{{ entries.string_to_render }}{% endif %}</textarea>
  </div>
  <div class="render-f mdl-cell mdl-cell--3-col" style="text-align:center;margin:3;">
  <h5 style="color:white">JSON to render string with</h5>
    <textarea class="mdl-textfield__input" type="text" rows="25" id="text7" style="background-color: #ffffff;opacity: 90;" name="map">{% if entries %}{{ entries.test_map }}{% endif %}</textarea>
  </div>
  <div class="render-f mdl-cell mdl-cell--3-col" style="text-align:center;margin:3;">
  <h5 style="color:white">Output</h5>
<textarea class="mdl-textfield__input" type="text" rows= "25" id="text7" style="background-color: #ffffff;opacity: 90;" name="output">{% if entries %}{{ entries.output }}{% endif %}</textarea>
  </div>
    <div class="render-f mdl-cell mdl-cell--3-col" style="text-align:center;margin:3;">
  <h5 style="color:white">Compare with </h5>
<textarea class="mdl-textfield__input" type="text" rows= "25" id="text7" style="background-color: #ffffff;opacity: 90;" name="compare">{% if entries %}{{ entries.compare }}{% endif %}</textarea>
  </div>
</div>
<div class="mdl-grid">
<div class="mdl-cell">
<span class="select-wrap">
        <select name="choices">
            <option value="JSON">JSON</option>
            <option value="XML">XML</option>
            <option value="other">Other</option>
        </select>
      </span>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" type="submit" name="render" style="position: relative; bottom: 20">Render</button>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" type="submit" name="check" style="position: relative; bottom: 10">Compare</button>
  </div></div>
  <div class="mdl-grid">
  <div class="mdl-cell mdl-color--white content mdl-color-text--grey-800 mdl-cell--12-col" style="opacity:10;">

     {% if entries %}
     {% if entries.failures %}
     <textarea class="mdl-textfield__input" type="text" rows="3" id="text7" style="background-color: #ffffff;opacity:90;color:darkred" name="compare">
       {% for message in entries.failures %}{{ message }}
       {% endfor %}
     </textarea>
     {% endif %}
     {% endif %}

</form>
{% endblock %}